html {
    background-color: grey;
    font-size: 12pt;
}

main {
    background-color: white;
    box-sizing: border-box;
    font-family: "Times New Roman", serif;
    max-width: 8.5in;
    padding: 1in 1.5in;
    margin: 0 auto;
    width: 100vw;
}

@media (max-width: 8.5in) {
    main {
        padding: 17.647vw;
    }
}

main > footer {
    font-size: smaller;
    margin-top: 4rem;
    text-align: left;
}

main > footer > ol {
    padding-inline-start: 0;
}

a {
    color: inherit;
}

a:hover {
    opacity: 0.6;
}

abbr[title] {
    text-decoration: none;
}

header {
    text-align: center;
}

article {
    margin-top: 4rem;
    text-align: justify;
}

article h2 {
    font-size: 1rem;
    text-align: center;
}

article h3 {
    font-size: 1rem;
    display: inline;
}

article h3+p {
    display: inline;
}

section {
    margin-top: 2rem;
}

em.author {
    font-style: normal;
    font-variant: small-caps;
}

em.editor {
    font-style: normal;
}
