{% extends "base.njk" %}

{% block siteNavHeader %}
<abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr>
{% endblock %}

{% block article %}
<p>The <abbr title="International Society for Phylogenetic Nomenclature">ISPN</abbr> encourages the
    development and use of phylogenetic nomenclature and oversees the implementation of a code of rules to
    govern phylogenetic nomenclature—the <a href="/code"><cite><abbr
                title="International Code of Phylogenetic Nomenclature">PhyloCode</abbr></cite></a>.</p>
<p>The society is open to anyone wishing to partake in this venture.</p>
{% endblock %}
