<!DOCTYPE html>
<html>

<head>
    {% block metadata %}
    <title>{{ title }}</title>
    <meta http-equiv="refresh" content="0; url = /" />
    {% endblock %}
    <style>
        * {
            background-color: white;
            color: white;
        }
    </style>
</head>

<body>
    Redirecting&hellip;
</body>

</html>