{% extends "base.njk" %}

{% block metadata %}
<title>Documents&mdash;{{ title }}</title>
<meta property="og:title" content="Documents&mdash;{{ title }}">
<meta name="description"
    content="The ISPN encourages the development and use of phylogenetic nomenclature and oversees the implementation of a code of rules to govern phylogenetic nomenclature—the PhyloCode.">
<meta property="og:description"
    content="The ISPN encourages the development and use of phylogenetic nomenclature and oversees the implementation of a code of rules to govern phylogenetic nomenclature—the PhyloCode.">
<meta name="twitter:description"
    content="The ISPN encourages the development and use of phylogenetic nomenclature and oversees the implementation of a code of rules to govern phylogenetic nomenclature—the PhyloCode.">
<meta name="author" content="International Society for Phylogenetic Nomenclature">
<link rel="canonical" href="http://phylonames.org/">
<meta property="og:url" content="http://phylonames.org/">
<script
    type="application/ld+json">{"@context":"https://schema.org","@type":"Organization","contactPoint":[{"@type":"ContactPoint","contactType":"technical","email":"webmaster@phylonames.org"}],"description":"The ISPN encourages the development and use of phylogenetic nomenclature and oversees the implementation of a code of rules to govern phylogenetic nomenclature—the PhyloCode.","foundingDate":"2004-07","name":"International Society for Phylogenetic Nomenclature","sameAs":["https://www.facebook.com/phylocode/","https://www.twitter.com/phylonames"],"url":"https://phylonames.org"}</script>
{% endblock %}

{% block styles %}
<style>
    tr.footnote>td {
        padding-top: 0;
    }

    tr.footnote aside {
        padding: 0 0 4em;
        text-align: right;
    }
</style>
{% endblock %}


{% block header %}
<h1>International Society for Phylogenetic Nomenclature</h1>
<h2>Documents</h2>
{% endblock %}
{% block article %}
<section id="drafts">
    <h2>Drafts of the <cite>PhyloCode</cite></h2>
    <table>
        <tbody>
            <tr>
                <th>Version 5</th>
                <td><time datetime="2014-01">January 2014</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode5.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode5.docx" download title="Microsoft Word Open XML Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOCX file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Changes Between Versions 4c and 5</th>
                <td><time datetime="2014-01">January 2014</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./Changes_in_v5.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./Changes_in_v5.docx" download title="Microsoft Word Open XML Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOCX file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 4c</th>
                <td><time datetime="2010-01-12">January 12, 2010</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode4c.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode4c.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 4b</th>
                <td><time datetime="2007-09-12">September 12, 2007</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode4b.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode4b.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 4a</th>
                <td><time datetime="2007-07-31">July 31, 2007</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode4a.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode4a.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 3a</th>
                <td><time datetime="2006-06-16">June 16, 2006</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode3a.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode3a.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 2b</th>
                <td><time datetime="2004-06-17">June 17, 2004</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode2b.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode2b.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr class="footnote">
                <td colspan="3">
                    <aside>
                        <p>(The only change from version 2a is a rewording of Recommendation 10A.)</p>
                    </aside>
                </td>
            </tr>
            <tr>
                <th>Version 2a</th>
                <td><time datetime="2003-12-21">December 21, 2003</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode2a.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode2a.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Version 2</th>
                <td><time datetime="2003-09-30">September 30, 2003</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode2.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode2.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Original Draft</th>
                <td><time datetime="2000-04-08">April 8, 2000</time></td>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PhyloCode.pdf" download title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download PDF file">
                            </a>
                        </li>
                        <li>
                            <a href="./PhyloCode.doc" download title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download DOC file">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section id="literature">
    <h2>Literature</h2>
    <table>
        <tbody>
            <tr>
                <th>Literature on Phylogenetic Nomenclature</th>
                <td>
                    <ul class="files">
                        <li>
                            <a href="./PN_Literature.pdf" download
                                title="Adobe Portable Document Format">
                                <img src="https://www.adobe.com/content/dam/cc/en/legal/images/badges/PDF_32.png"
                                    width="32" height="32" alt="Download">
                            </a>
                        </li>
                        <li>
                            <a href="./PN_Literature.doc" download
                                title="Microsoft Word Document Format">
                                <img src="https://cdn.windowsfileviewer.com/images/types/docx.png"
                                    width="32" height="32" alt="Download">
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<section id="meeting-programs">
    <h2>Meeting Programs</h2>
    <aside><a href="/events">See the “Events” page.</a></aside>
</section>
{% endblock %}
