/*
turquoise: #08527b;
lilac: #9cadf7
cyan: #b5ffff
pink: #ce84ef
*/

/* GENERAL PAGE */

html {
    background-color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 12pt;
}

@media print {
    nav {
        display: none;
    }
}

nav {
    background-color: #08527b;
}

button {
    appearance: none;
    cursor: pointer;
    -webkit-appearance: none;
}

button:focus {
    outline: none;
}

/* SITE NAVIGATION */

#site-nav {
    align-items: center;
    display: flex;
    justify-content: left;
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
}

#site-nav > div {
    color: white;
    display: flex;
    flex-grow: 1;
}

#site-nav > div > header {
    align-items: center;
    display: flex;
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    padding-left: 24px;
    padding-right: 24px;
    text-align: left;
    width: calc(2.5in - 48px);
}

#site-nav-button {
    align-content: center;
    background: none;
    border-style: none;
    color: white;
    display: none;
    font-size: x-large;
    font-weight: bold;
    justify-content: center;
    margin: 4px;
    padding: 0 0.5em;
}

#site-nav-button:active, #site-nav-button:hover {
    background-color: #04293d;
    border-radius: 8px;
}

#site-nav-content {
    align-items: center;
    display: flex;
    font-weight: bold;
    flex-grow: 1;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 12px;
    max-width: calc(8.5in - 24px);
    padding-inline-start: 0;
}

#site-nav-content > li {
    padding: 0.5em;
    text-transform: uppercase;
}

#site-nav-content > li > span {
    opacity: 0.5;
}

#site-nav-content > li > a {
    text-decoration: none;
}

#site-nav-content > li > a:active, #site-nav-content > li > a:hover {
    background-color: #04293d;
    border-radius: 1em;
}

/* CODE NAVIGATION */

#code-nav {
    background-color: #9cadf7;
    bottom: 0;
    color: #08527b;
    display: flex;
    flex-direction: column;
    font-style: italic;
    padding: 1em 0;
    position: fixed;
    left: 0;
    overflow-y: auto;
    top: 50px;
    width: 2.5in;
}

#code-nav a {
    text-decoration: none;
}

#code-nav strong {
    font-style: normal;
    font-weight: bold;
}

#code-nav ul {
    flex-direction: column;
    list-style-type: none;
    margin-right: 1em;
    margin-top: 0.125em;
    padding-inline-start: 1em;
}

#code-nav li {
    margin-bottom: 0.125em;
}

#code-nav li::before {
    align-items: center;
    display: inline-flex;
    color: #b5ffff;
    content: "━";
    font-family: monospace;
    font-size: 10px;
    font-style: normal;
    font-weight: bold;
    height: 20px;
    justify-content: center;
    margin-right: 0.5rem;
    width: 20px;
}

#code-nav li.folder::before {
    background-color: #08527b;
    border-radius: 1em; 
    color: white;
}

#code-nav li.closed::before {
    content: "╋";
}

#code-nav .closed > ul {
    display: none;
}

#code-nav-button {
    align-content: center;
    background: none;
    border-style: none;
    display: none;
    font-style: normal;
    font-weight: bold;
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
}

#code-nav-button::after {
    content: attr(title);
}

#code-nav-button::before {
    color: #b5ffff;
    content: "▶";
    text-align: center;
    writing-mode: horizontal-tb;
}

#code-nav.open #code-nav-button::before {
    content: "◀";
}

.folder {
    cursor: pointer;
}

/* RESPONSIVE LAYOUT */

@media (max-width: calc(11in - 1px)) {
    #site-nav > div > header {
        width: auto;
    }
    #code-nav {
        cursor: pointer;
        width: 24px;
    }
    #code-nav-button {
        display: flex;
    }
    #code-nav-content {
        display: none;
    }
    #code-nav.open {
        max-width: 2.5in;
        width: 100vw;
    }
    #code-nav.open #code-nav-button::after {
        content: none;
    }
    #code-nav.open #code-nav-content {
        display: flex;
    }
}

@media (max-width: calc(8.5in - 1px)) {
    #site-nav {
        cursor: pointer;
    }
    #site-nav > div {
        justify-content: space-between;
    }
    #site-nav-button {
        display: flex;
    }
    #site-nav-content {
        align-items: flex-end;
        background-color: #04293d;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
        display: none;
        flex-direction: column;
        left: 0;
        margin: 0;
        padding: 1em;
        position: fixed;
        right: 0;
        top: 50px;
    }
    #site-nav.open #site-nav-content {
        display: flex;
    }
}

@media (max-width: 239px) {
    #site-nav > div > header {
        font-size: 10vw;
    }
}

@media (max-width: 179px) {
    #site-nav > div {
        justify-content: flex-end;
    }
    #site-nav > div > header {
        display: none;
    }
    #site-nav-button {
        flex-grow: 1;
    }
}

/* MAIN CONTENT */

main {
    background-color: white;
    box-sizing: border-box;
    max-width: 11in;
    padding: 1in 1.25in 2.25in;
    margin: 0 auto;
    width: 100vw;
}

main > header {
    font-family: Georgia, serif;
}

@media (max-width: 11in) {
    main {
        padding: 17.647vw;
    }
}

main > footer {
    font-size: smaller;
    margin-top: 4rem;
    text-align: left;
}

main > footer > ol {
    padding-inline-start: 0;
}

a {
    color: inherit;
}

a:hover {
    opacity: 0.6;
}

abbr[title] {
    text-decoration: none;
}

code {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
}

header {
    text-align: center;
}

article {
    margin-top: 4rem;
    text-align: justify;
}

article > aside {
    font-style: italic;
    margin-top: 1in;
    text-align: center;
}

article h2 {
    font-size: 1rem;
    text-align: center;
}

article h3, article h4, article h5, article h6 {
    font-size: 1rem;
}

article h5, article h6 {
    display: inline;
}

article h5+p, article h6+p {
    display: inline;
}

#rules h1, #rules h2, #rules h3, #rules h4 {
    text-align: center;
}

section {
    margin-top: 2rem;
}

em.author {
    font-style: normal;
    font-variant: small-caps;
}

em.editor {
    font-style: normal;
}

figure {
    margin: 2rem auto;
    text-align: center;
}

figure > img {
    height: auto;
    max-width: 100%;
    width: auto;
}

figcaption {
    margin-top: 1rem;
    text-align: justify;
}
