#glossary .entry {
	padding-top: 1em;
	padding-left: 3em;
	text-indent: -3em;
}
#glossary .entry span.definition {
	margin-left: 0.5em;
}
#glossary .entry .term {
	font-style: italic;
}
#glossary-nav {
	font-size: smaller;
	font-weight: bold;
	margin: 0px;
	width: 100%;
	padding: 0px;
}
#glossary-nav a, #glossary-nav a:link, #glossary-nav a:visited {
	color: #E0E0E0;
}
#glossary-nav a:hover, #glossary-nav a:active {
	color: #000000;
}
#glossary-nav td {
	width: 5%;
}
