#phylocode {
	color: #000000;
	font-family: serif;
	text-align: justify;
}
#phylocode div.article div div.example, #phylocode div.article div div.note, #phylocode div.article div div.recommendation {
	padding-left: 1em;
}
#phylocode div.division {
	margin-bottom: 1em;
	padding-bottom: 1em;
}
#phylocode div.division div.authors {
	margin-bottom: 2em;
	text-align: center;
}
#phylocode div.division div.authors div {
	margin-top: 1em;
}
#phylocode div.division div.title {
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
}
#phylocode div.division div.version {
	font-size: 75%;
	font-weight: bold;
}
#phylocode div.figure {
	margin: 1em;
	text-align: center;
}
#phylocode div.figure div.caption {
	margin-left: 3em;
	margin-right: 3em;
	margin-top: 1em;
	text-align: justify;
}
#phylocode div.rule {
	padding-top: 0.5em;
}
#phylocode div.article div div span.label, #phylocode div.table div span.label {
	margin-right: 0.5em;
	font-style: italic;
}
#phylocode table.table {
	border-bottom: 2px solid #000000;
	border-top: 2px solid #000000;
	width: 100%;
}
#phylocode table.table td {
	padding: 4px;
}
#phylocode table.table td.section {
	font-style: italic;
	text-align: center;
	padding: 0.5em;
	padding-top: 1em;
}
#phylocode table.table th {
	border-bottom: 1px solid #000000;
	text-align: center;
}
#phylocode #title div.title {
	font-size: 133%;
	font-weight: normal;
}
#phylocode li {
	margin-bottom: 0.5em;
}