div.citation {
	margin-top: 0.5em;
}
div.citation span.authors span.n {
	font-variant: small-caps;
}
div.citation span.article-title, div.citation span.date, div.citation span.journal, div.citation span.note, div.citation span.publication-type, div.citation span.publisher, div.citation span.status, div.citation span.volume-title {
	margin-left: 0.25em;
}
div.citation span.article-title span.title, div.citation span.title span.title, div.citation span.volume-title span.title {
	font-style: italic;
}
div.citation span.title {
	font-style: normal;
}
.code {
	font-style: italic;
}
div.header {
	margin-bottom: 1em;
}
div.para {
	margin-bottom: 1em;
	text-align: justify;
}
div.title {
	font-style: normal;
}
.em {
	font-style: italic;
}
.email {
	font-style: italic;
}
.foreign {
	font-style: italic;
}
.clade-name {
	font-style: italic;
}
.clade-name-informal {
}
.gene-sequence {
	font-style: italic;
}
.header {
	font-weight: bold;
	margin-right: 1em;
}
.italic {
	font-style: italic;
}
.name-affix {
	font-style: italic;
}
.no-italic {
	font-style: normal;
}
.prenomen {
	font-style: italic;
}
.ranked-name {
	font-style: italic;
}
.species-name {
	font-style: italic;
}
.super {
	font-size: 0.75em;
	position: relative;
	top: -0.25em;
}
.tbd {
	color: #808080;
	font-style: italic;
}
.title {
	font-style: italic;
}
.urgent {
	font-variant: small-caps;
	font-weight: bold;
}
.url, .urn {
	font-style: italic;
}
